<footer class="py-5 " style="background-color: transparent">
    <div class="container">
        <p class="m-0 text-center text-white"> <a href="./oda.html">KRC 2019</a></p>
        
    </div>
    <!-- /.container -->
</footer>