  
  <header class="header blue" id="header-home">
    <div class="container  flex">
        <div class="logo-div">
            <a href="./" class="home-link">
              
                <span class="large">KRC</span>
            </a>
            <button id="ham" class="bgblue light p-2 rounded"><i ></i></button>
            
        </div>
        
        <nav class="navbar navbar-light">
            <ul class="nav">
                <li class="nav-item"><a href="./" id="home" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="./printserve.html" id="about" class="nav-link">About</a></li>
                <li class="nav-item"><a href="/pricing" id="pricing" class="nav-link">Pricing</a></li>
                <li class="nav-item"><a href="/admin" class="nav-link" id="admin">Admin</a></li>
                <li class="nav-item"><a href="/jobs" class="nav-link" id="jobs">Find Job</a></li>
                <li class="nav-item"><a href="/print" id="milirock"class="nav-link btn btn-primary">New Job</a></li>
            </ul>

        </nav>
        <div class="over"></div>
    </div>
</header>
   