bin
obj
csx
.vs
edge
Publish
.idea
/.idea
.env
/src
*.user
*.suo
*.cscfg
*.Cache
project.lock.json
package.lock.json

/packages
/TestResults
tests
/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
appsettings.json
local.settings.json
/models
/node_modules
/tests
/package.lock.json
node_modules
/lib
/.vscode
/package-lock.json
/leagues
/.env
yarn.lock
yarn-error.log
Gulpfile.js
log.txt

