  <div class="container">
                <div class="flexer show">
                    <div class="card shadow-lg" >
                    <div class="card-header">
                      <span class="story">
                       
                      </span>
                    </div>
                      <div class="card-body">
                        <h5 class="card-title">Fill this</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Make sure to indicate delivery</h6>
                     <form   action="/login"  method="post" >
                      <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll contact you on this when its done.</small>
                      </div>
                   <div class="form-group">
                     <label for="password">Password</label>
                     <input type="password" class="form-control" name="password" id="password" placeholder="secrets*">
                   </div>

                    <div class="form-group">
                     <label for="password">Password</label>
                     <input type="password" class="form-control" name="confirmPassword" id="password" placeholder="secrets*">
                   </div>

                      <button  type="submit" class="btn btn-primary">Submit</button>
                    </form>
                      </div>
                    </div>
                    </div>
            </div>